@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');


{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Freeman", sans-serif;
  text-decoration: none;
}

:root {
    --color-esqueleto: #EFF3F5;
} 

footer {
    width: 100vw;
    padding: 15px 0;
    background-color: orange;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 10px auto 0;
}

.box-footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 15px;
    height: 200px;
}

.foto {
    width: 125px;
    height: 75px;
    object-fit: cover;
}

.link-footer, .text-footer {
    color: #7a7a7a;
    font-weight: 600;
    margin-top: 10px;
}

.terms {
    max-width: 350px;
    font-size: 15px;
    font-weight: 500;
       color: #7a7a7a;
}

.title-footer {
    margin-bottom: 10px;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
}

.link-footer:hover {
    opacity: 0.8;
}

.box-copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
}

.copyright {
    margin-top: 20px;
    color: #7a7a7a;
    font-size: 12px;
}

.line {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
