.nav-container {
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.navbar a:hover {
  background-color: #575757;
}

.logoNav{
  height: 70px;
}