.user-profile {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  padding-top: 150px;/*apaño momentáneo. quitar!*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.user-profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-profile h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-profile p {
  font-size: 16px;
  margin-bottom: 10px;
}

.user-profile button {
  background-color: #0D5FA6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-profile button:hover {
  background-color: #2980b9;
}

.superadmin-profile button{
  color: #FFA500;
  

}