#containerActivitiesFeed{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & p{
        text-align: center;
    }

   
}

h1 {
    text-align: center;
    margin-top: 20px;
}