.superadmin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura de la página según el tamaño de la ventana del navegador */
}
